@charset "utf-8";

/*单页布局样式*/
.head3{font-weight:normal;font-size:14px;padding:0 4px;}
.function-btn{height:40px;width:100%;background:#fff;margin:4px 0 8px;line-height:40px;border-radius:5px;}
.boxtab-btn{top:0;}
.boxtab-btn li{float:left;font-size:13px;height:40px;cursor:pointer;padding-left:34px;color:#0ae;}
.boxtab-btn li.add{background-position:-464px -111px;color:#ffa200;}
.boxtab-btn li.alt{background-position:-464px -140px;}
.boxtab-btn li.del{background-position:-464px -168px;color:#ff6565;}
.boxtab-btn li.other{background-position:-409px -229px;padding:0 34px 0 16px;z-index: 9999}
.boxtab-btn li.bat{background-position:-464px -197px;}
.boxtab-btn li.back{background-position:-464px -292px;}
.boxtab-btn-list{width:100px;right:0;background:#fff;border-radius:0 0 5px 5px;}
.boxtab-btn-list span{display:inline-block;width:100px;height:24px;line-height:24px;text-align:center;}

.search{width:350px;height:30px;border:1px solid #0ae;border-radius:4px;right:10px;top:4px;background:#0ae;}
.search-txt{height:30px;width:300px;background:#fff;right:50px;border-radius:4px 0 0 4px;padding-left:6px;}
.search-btn{height:30px;right:0;width:50px;background-position:8px -24px;cursor:pointer;}

/*清除查询叉号样式*/
.srh-close{display:inline-block;height:16px;width:16px;background-position:0px -112px;right:50px;top:7px;cursor:pointer;z-index: 9999}
.common-title{height: 40px;line-height: 40px;font-size: 1.17em;font-weight: bold;}

.right-search-button{width: 60px;height: 32px;line-height: 32px;background-color: #00AAEE;color: #FFFFFF;position: absolute;border: 1px solid #00AAEE;top:4px;right: 10px;border-radius: 4px;cursor: pointer;}

.common-box{margin-bottom: 20px;}
.common-box div.item-header{height: 46px;background-color: #f3f7f9;line-height: 46px;font-size: 16px;font-weight: normal;padding-left: 10px;}
.common-box div.item{height:60px;line-height:60px;padding-left: 10px;}
.common-box div.easyui-datebox-item{height:60px;line-height:60px;padding-left: 10px;}
.common-box input{border:1px solid #dbdee0;border-radius:4px;padding:0 10px;width:300px;height:30px;}
.common-box div.item span{font-weight:normal;font-size:14px;width: 120px;display: inline-block;text-align: right;}
.common-box div.easyui-datebox-item span.item-text{font-weight:normal;font-size:14px;width: 120px;display: inline-block;text-align: right;}
.common-box div span.switch{background:url(../img/switch.png) no-repeat;height:30px;margin:18px 0;width:50px;}
.common-box div span.switch-off{background-position:0 -32px;}
.common-box select{border:1px solid #dbdee0;border-radius:4px;padding:0 10px;height:30px;width:300px;}
.common-box td{height: 30px;padding: 0 10px;}
.common-box tr{height: 40px;}
.common-box table{margin-top: 10px;}
.common-box textarea.logback{border:1px solid #dbdee0;border-radius:4px;padding:0 10px;width: 95%;height: 350px;margin-top: 20px;font-family: Consolas;font-size: 24px;}

.common-box div.image-item{padding-left: 10px;margin-top: 20px;}
.common-box div.image-item span{font-weight:normal;font-size:14px;width: 120px;display: inline-block;text-align: right;}
.common-box div.image-item img.login-logo{width: 300px;height: 157px;border: 1px solid #dbdee0;cursor: pointer;}
.common-box div.image-item img.main-logo{width: 160px;height: 70px;border: 1px solid #dbdee0;cursor: pointer;}
.common-box div.image-item img.favicon{width: 16px;height: 16px;border: 1px solid #dbdee0;cursor: pointer;}

.common-box .textarea-item{height: 150px;line-height: 150px;padding-left: 10px;}
.common-box div.textarea-item span{font-weight:normal;font-size:14px;width: 120px;display: inline-block;text-align: right;}
.common-box textarea.address{border: 1px solid #DBDEE0; border-radius: 4px; padding: 10px;height: 150px;width: 300px;vertical-align: middle}

.readonly{background-color:rgb(223, 227, 229);color:black;}