@charset "utf-8";
/*公共样式*/
/*公共样式*/
.fl{float:left;}
.fr{float:right;}
.tl{text-align:left;}
.tr{text-align:right;}
.tc{text-align:center;}
.tl{text-align:left;}
.tr{text-align:right;}
.ovf{overflow:hidden;}
.rel{position:relative;}
.abs{position:absolute;}
.icon{background:url(../../images/icon.png) no-repeat;}
.clearfix:after{clear:both;content:" ";display:block;height:0;visibility:hidden;}
.clearfix{display:block;}
.no_border{border:none;}
.bule{color:#01aaef;}
.orange{color:#ffa200;}
.green{color:#16c54c;}
.hidden{display: none}
